@import "seattletimes";

code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  padding: 24px 15px;
  text-align: center;
}

.title {
  font-family: @df-sans;
  font-size: 16;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
.section {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}