<!doctype html>
<html>
  <head>
    <title>Seattle Times Interactive Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <div class="container">
      
       <div class="left">
          <header class="header">
            <img src="assets/st-logo.png" alt="seattle-times-logo" />   
            Seattle Times Interactives
         </header>
          <p class="intro-text">We are developers, producers, reporters, editors and other digital staff at The Seattle Times, working online to continue the paper’s legacy of quality journalism since 1896. See our blog to learn more about our work, from newsroom tools to special projects to content management.</p>
          <a class="blog" href="http://dev.seattletimes.com/about/">Seattle Times developer blog</a>
                <div class="social">
                  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                 <i class="fa fa-github fa-2x" aria-hidden="true"></i>
               </div>
          </div>
         
            <div class="content">
              
              <div class="more">
              <a href="#">More...</a>
            </div>
            </div>
            
          

          

   </div>

   
  
      
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
